// COMPONENT [ HERO BLOCK ] ###########################################################################################

@import "../../../scss/.base/_module-index";

.oCopyBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  padding: 80px 20px 50px;
  min-height: 100vh;

  .aBlockTitle {
    text-align: center;
    width: 100%;
  }
  .blockWrapper {
    position: relative;
  }

  .oBlockBody {
    margin: 30px auto 0;
    a {
      color: white;
      font-weight: bolder;
      transition: 0.3s;
      &:hover {
        color: $grey;
        transition: 0.3s;
      }
    }
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  @media ($sm-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($sm-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
