// ATOMS [ MISC ]  ####################################################################################################

// BASE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.a-responsive-image {
  max-width: 100%;
  height: auto;
}

.aBlockAnchor {
  display: block;
  position: relative;
  height: 1px;
  transform: translateY(-60px);
}

// END ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
