// COMPONENT [ FOOTER ] ###############################################################################################

@import "../../../scss/.base/_module-index";

.oFeaturedNewsBlock {
  // A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

  padding: 40px 20px;

  .oCard {
    position: relative;
    background-color: #3a3a3a;
  }

  .mLink {
    display: block;
    text-decoration: none;
    &:hover {
      background-color: #ccc;
    }

    a {
      text-decoration: none;
    }
  }

  .aBlockTitle {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 50px;
  }

  .aTitle {
    text-align: center;
    margin: 30px auto 20px;
  }

  .mCardImage {
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
  }

  .mCardBody {
    padding: 0 15px;
  }

  .mCTA {
    text-align: center;
  }

  .aCTA {
    margin: 20px auto;
  }

  // A. END +++++++++++++++++++++++++++++++++++++++++++++++

  // B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

  @media ($md-dn) {
  }

  @media ($sm-dn) {
  }

  // B. END +++++++++++++++++++++++++++++++++++++++++++++++

  // C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

  @media ($sm-up) {
  }

  // C. END +++++++++++++++++++++++++++++++++++++++++++++++

  // D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

  @media ($md-up) {
  }

  // D. END +++++++++++++++++++++++++++++++++++++++++++++++

  // E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

  @media ($lg-up) {
    .mCardBody {
      width: 60%;
      padding: 10px 30px;
      @include vertical-align(absolute);
      right: 20px;
      * {
        text-decoration: none !important;
        color: #fefefe;
      }
      &:after {
        content: "";
        @include position(absolute, 0);

        background-color: rgba(black, 0.6);
        z-index: -1;
      }
    }
    .aTitle {
      text-align: center;
      margin: 0 auto 20px;
    }
    .aCTA {
      margin: 50px auto 0;
    }
  }

  // E. END +++++++++++++++++++++++++++++++++++++++++++++++
}

// END OF FILE ########################################################################################################
